<div class="d-flex justify-content-between flex-wrap">
  <div class="p-2">
    <div class="row align-items-center">
      <div>
        <img [src]="collegue.photoUrl" alt="image" style="width:auto;height:300px;">
      </div>
    </div>

    <div class="align-items-center">
      <div>
        <p>{{collegue.pseudo}}</p>
      </div>
      <div>
        <p>{{collegue.score}}</p>
      </div>
      <div class="d-inline">
        <app-avis (avis)="onVoted($event)" [btnLikeActif]="likeActif" [btnUnLikeActif]="unLikeActif"></app-avis>
      </div>
    </div>
  </div>
</div>